<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <a href="/movies">lista de peliculas</a>
    <a href="/movies/new">Nuevas peliculas</a>
    <a href="/movies/recommended">Recomedaciones de peliculas</a>
    <br>
    <a href="/genres">Generos de peliculas</a>
    <br>
    <a href="/actors">Actores</a>

  </body>
</html>
